@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --basebgcolor: #1C1D21;
  --basefontcolor: rgba(255, 255, 255, 0.5);
  --midwaybasecolor: rgb(17, 17, 17);
  --baseTitlefontcolor: #FFFFFF;
  --secondaryBgcolor: #925FE2;
  --secondaryLightBgcolor: rgba(156, 111, 228, 0.60);

  border: 0;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}